extends layout.pug
include mixins/joke_card.pug

block title
    title Your bavarian joke number #{JOKE_ID}

block style
    link(rel="stylesheet" href="/global.css")

block main
    +joke_card(JOKE_ID, JOKE_DATA.content, JOKE_DATA.explanation, JOKE_DATA.submitted_by)
