extends layout.pug
include mixins/joke_card.pug

block title
    title Bavarian #{KEYWORD} jokes

block style
    link(rel="stylesheet" href="keyword/styles.css")

block main
    h2= KEYWORD
    each joke, index in JOKE_DATA
        +joke_card(joke.id, joke.content, joke.explanation, joke.submitted_by)
        unless (index === JOKE_DATA.length-1)
            hr
