doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block title
            title Bavarian Jokes Generator
        block style
            link(rel="stylesheet" href="global.css")
    body
        header
            h1 Griasd eich zum Bavarian Joke Generator
        block main
