/* Set up fonts/atkinson: */
@font-face {
  font-family: Atkinson;
  src:
    local("Atkinson-Hyperlegible Regular"),
    local("Atkinson Hyperlegible-Regular"),
    url("/assets/fonts/atkinson/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2")
      format("woff2"),
    url("/assets/fonts/atkinson/WOFF/Atkinson-Hyperlegible-Regular-102.woff")
      format("woff"),
    url("/assets/fonts/atkinson/TTF/Atkinson-Hyperlegible-Regular-102.ttf")
      format("truetype");
}

@font-face {
  font-family: Atkinson;
  src:
    local("Atkinson-Hyperlegible Bold"),
    local("Atkinson Hyperlegible-Bold"),
    url("/assets/fonts/atkinson/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2")
      format("woff2"),
    url("/assets/fonts/atkinson/WOFF/Atkinson-Hyperlegible-Bold-102.woff")
      format("woff"),
    url("/assets/fonts/atkinson/TTF/Atkinson-Hyperlegible-Bold-102.ttf")
      format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Atkinson;
  src:
    local("Atkinson-Hyperlegible Italic"),
    local("Atkinson Hyperlegible-Italic"),
    url("/assets/fonts/atkinson/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2")
      format("woff2"),
    url("/assets/fonts/atkinson/WOFF/Atkinson-Hyperlegible-Italic-102.woff")
      format("woff"),
    url("/assets/fonts/atkinson/TTF/Atkinson-Hyperlegible-Italic-102.ttf")
      format("truetype");
  font-style: italic;
}

@font-face {
  font-family: Atkinson;
  src:
    local("Atkinson-Hyperlegible BoldItalic"),
    local("Atkinson Hyperlegible-BoldItalic"),
    url("/assets/fonts/atkinson/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2")
      format("woff2"),
    url("/assets/fonts/atkinson/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff")
      format("woff"),
    url("/assets/fonts/atkinson/TTF/Atkinson-Hyperlegible-BoldItalic-102.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Fraktur;
  src:
    local("Bertholdr Mainzer Fraktur"),
    local("Bertholdr-Mainzer-Fraktur"),
    url("/assets/fonts/Bertholdr-Mainzer-Fraktur.ttf") format("truetype");
}

/* CSS Presets: */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

textarea {
  font-size: inherit;
}

/*————————————————————————————— Global CSS: ————————————————————————————————*/
:root {
  --base-font-size: 16px;
  --header-bg: rgb(240, 255, 255, 0.9);
  --main-bg: rgb(240, 255, 255, 0.7);
}

html {
  overflow-x: hidden;
  font-family: Atkinson, sans-serif;
  font-size: var(--base-font-size);
}

body::before {
  content: "";
  background: url("/assets/bavarian_flag_repeatable.svg");
  z-index: -1;
  position: fixed;
  rotate: -45deg;
  /* Move the rotated image back to the upper left corner: */
  top: -100%;
  left: -100%;
  /* Stretch the image to cover the whole page */
  width: 300%;
  height: 300%;
  /* Set background color to cover browser induced gaps between repeats */
  background-color: rgb(9, 142, 202);
}

header,
main {
  width: 50%;
  margin: 0 auto;
}

header {
  background-color: var(--header-bg);
  border-block-end: 0.1em aliceblue solid;
}

main {
  background-color: var(--main-bg);
}

header {
  padding-block: 1em;
}

h1 {
  font-family: Fraktur, Atkinson, sans-serif;
  text-decoration-line: underline;
  text-decoration-style: double;
}

h1,
h2,
h3 {
  text-align: center;
  vertical-align: middle;
}

h2 {
  text-decoration-line: underline;
}

button {
  border: 0.5em ridge lightskyblue;
  border-radius: 10% / 50%;
  padding: 0.25em;
  box-shadow: 0 0 0.6em black;
  background-color: aliceblue;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

hr {
  margin: 1em;
  border-color: whitesmoke;
  border-style: solid;
  border-radius: 1em;
  border-width: 0.25em;
  box-shadow: 0 0 0.1em;
}

.small-divider {
  margin-block: 0.5em;
  margin-inline: 2em;
  border-color: floralwhite;
  border-width: 0.13em;
}

dialog {
  margin: auto;
}

dialog > form {
  min-height: 10em;
  padding-inline: 1em;
}

/*————————————————————————————— Media queries ——————————————————————————————*/
@media (max-width: 27em) {
  html {
    font-size: 12px;
    padding-block: 1em;
  }

  header,
  main {
    width: 90%;
    padding: 0 1em;
  }

  textarea {
    width: 80%;
  }
}
