@import url("global.css") layer(globals);

article > h2:first-child {
  padding-block-start: 0.5em;
}

kbd:only-of-type {
  font-family: revert;
  margin: 0 1em;
}

[method="get"] {
  min-height: 10em;
}

[method="post"] {
  min-height: 45em;
}

.signup-section,
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

ul {
  min-height: 16em;
  padding-inline: 2em;
}

.signup-section {
  min-height: 10em;
  align-items: center;
}

.signup-section > p {
  text-align: center;
}

/*————————————————————————————— Media queries ——————————————————————————————*/
@media (max-width: 27em) {
  ul {
    padding-inline: 1em;
  }
}
