@import url("global.css") layer(globals);

h2:first-child {
  padding-block-start: 0.5em;
}

kbd:only-of-type {
  font-family: revert;
  margin: 0 1em;
}

[method="get"] {
  min-height: 10em;
}

[method="post"] {
  min-height: 45em;
}

ul {
  list-style-position: inside;
}
