@import url("global.css") layer(globals);

h2:first-child {
  padding-block-start: 0.5em;
}

kbd:only-of-type {
  font-family: revert;
  margin: 0 1em;
}

[method="get"] {
  min-height: 10em;
}

[method="post"] {
  min-height: 45em;
}

hr {
  margin: 1em;
  border-color: whitesmoke;
  border-style: solid;
  border-radius: 1em;
  border-width: 0.25em;
  box-shadow: 0 0 0.1em;
}

ul {
  list-style-position: inside;
}
